.solicitud {
  &__btn {
    display: block;
    margin-left: auto;
    max-width: 230px;
    text-align: center;
    color: $white;
    background-color: $violet;
    font-family: $Ubuntu;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
}
