.about {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .about__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    @media (max-width: 991px) {
      align-items: center;
      margin-bottom: 30px;
    }
    .about__title {
      font-family: $Ubuntu;
      font-weight: 400;
      color: $gray;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .about__description {
      font-family: $Ubuntu;
      color: $gray;
      font-size: 1rem;
      line-height: 30px;
      margin-bottom: 30px;
      @media (max-width: 991px) {
        text-align: center;
      }
    }
    .about__btn {
      font-family: $Ubuntu;
      color: $white;
      background-color: $blue;
      border-radius: 3px;
      padding: 20px;
      text-decoration: none;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: $gray;
      }
    }
  }
}
