.menu {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  height: 13vh;
  @media (min-width: 991px) {
    border-bottom: 1px solid $violet;
  }
  &.active {
    position: fixed;
    top: -10px;
    box-shadow: -1px 5px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 5px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 5px 14px -1px rgba(0, 0, 0, 0.75);
  }
  .navbar {
    position: inherit;
    padding: 0px;
    @media (max-width: 330px) {
      justify-content: flex-end;
    }
    .menu__logo {
      height: 12vh;
      width: 400px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 991px) {
        height: 90px;
        width: 250px;
      }
      @media (max-width: 400px) {
        width: 200px;
      }
    }
    .navbar-toggler {
      border: none;
      &:focus {
        color: transparent;
      }
    }
    .navbar-collapse {
      justify-content: flex-end;
      @media (min-width: 991px) {
        height: 90px;
      }
      .navbar-nav {
        height: 100%;
        .nav-item {
          position: initial;
          .nav-link {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            color: $gray;
            text-transform: uppercase;
            font-family: $Ubuntu;
            font-weight: 500;
            transition: color 0.5s ease-in-out;
            font-size: 0.8rem;
            overflow-x: hidden;
            padding: 0px;
            margin-left: 2rem;
            @media (max-width: 991px) {
              padding-bottom: 1rem;
            }
            @media (min-width: 991px) {
              &::before {
                content: " ";
                position: absolute;
                height: 0px;
                width: 100%;
                background-color: $violet;
                bottom: 0;
                transition: height 0.2s ease-in-out;
              }
            }
            &:hover {
              color: $violet;
              &::before {
                height: 3px;
              }
            }
            &::after {
              display: none;
            }
            &.active {
              border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
            }

            .arrow {
              visibility: hidden;
              position: absolute;
              border: solid $gray;
              border-width: 0 3px 3px 0;
              display: inline-block;
              padding: 3px;
              right: 1rem;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transition: transform 0.5s ease-in-out;
              &.open {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
              }
              @media (max-width: 991px) {
                visibility: visible;
              }
            }
          }
          .dropdown__menu {
            position: absolute;
            left: 0;
            display: flex;
            background-color: $white;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            height: 0px;
            visibility: hidden;
            border-top: 1px solid $violet;
            @media (max-width: 991px) {
              border-top: none;
              position: relative;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              margin-left: 3rem;
              width: auto;
            }
            li {
              .dropdown__menu-item {
                font-family: $Ubuntu;
                text-decoration: none;
                color: $gray;
                transition: color 0.5s ease-in-out;
                font-size: 1rem;
                &:hover {
                  color: $violet;
                }
              }
            }
          }
        }
        .itemCollapse {
          @media (min-width: 991px) {
            &:hover {
              .dropdown__menu {
                height: 13vh;
                visibility: visible;
              }
            }
          }
          .visible {
            height: 13vh;
            visibility: visible;
          }
        }
      }
    }
  }
}
