.menu {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $violet;
  &.active {
    position: fixed;
    top: -10px;
    box-shadow: -1px 5px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 5px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 5px 14px -1px rgba(0, 0, 0, 0.75);
  }
  .navbar {
    padding: 0px;
    @media (max-width: 330px) {
      justify-content: flex-end;
    }
    .menu__logo {
      width: 270px;
      height: 90px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 400px) {
        width: 200px;
      }
    }
    .navbar-toggler {
      border: none;
      &:focus {
        color: transparent;
      }
    }
    .navbar-collapse {
      justify-content: flex-end;
      @media (min-width: 991px) {
        height: 90px;
      }
      .navbar-nav {
        height: 100%;
        .nav-item {
          .nav-link {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            color: $gray;
            text-transform: uppercase;
            font-family: $Ubuntu;
            font-weight: 500;
            transition: color 0.5s ease-in-out;
            font-size: 15px;
            overflow-x: hidden;
            padding: 0px;
            margin-left: 2rem;
            @media (max-width: 991px) {
              padding-bottom: 1rem;
            }
            &:hover {
              color: $violet;
              &::before {
                height: 3px;
              }
            }
            &.active {
              border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
            }
            &::before {
              content: " ";
              position: absolute;
              height: 0px;
              width: 100%;
              background-color: $violet;
              bottom: 0;
              transition: height 0.2s ease-in-out;
            }
          }
          .dropdown-menu {
            li {
              .dropdown-item {
                font-family: $Ubuntu;
              }
            }
          }
        }
      }
    }
  }
}
