.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $violet;
  margin-top: 5rem;
  &__logo {
    max-width: 100px;
    @media (max-width: 991px) {
      margin-bottom: 2rem;
    }
  }
  &__title {
    font-family: $Ubuntu;
    color: $white;
    font-size: 1.3rem;
    font-weight: 400;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    @media (max-width: 991px) {
      margin-bottom: 2rem;
    }
    &-item {
      display: flex;
      align-items: center;
      font-family: $Ubuntu;
      font-size: 1rem;
      margin-bottom: 8px;
      .ico-pin,
      .ico-tel,
      .ico-mail {
        margin-right: 10px;
      }
      a {
        text-decoration: none;
        color: $white;
        transition: color 0.5s ease-in-out;
        &:hover {
          color: $pink;
        }
      }
    }
  }
  &__rrss {
    display: flex;
    margin-top: 1rem;
    @media (max-width: 991px) {
      justify-content: flex-start;
    }
  }
}
